.main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}
.section {
  font-size: 20px;
  border: 1px solid #c2c2c2;
  width: 50%;
  min-height: 80vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.welcome {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.square {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
