.main {
  background: red;
}

.fonts {
  font-size: 20px;
}
.square {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.message {
  display: flex;
  position: relative;
  align-items: center;
  gap: 12px;
  margin: 16px;
  
}

.image {
  border-radius: 50%;
}
