.dialog {
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.dialog__close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  & button {
    font-size: 1rem;
    padding: 4px 8px;
  }
}

.dialog__body {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
